body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
    margin-top: 50px;
}

textarea {
    width: 300px;
    height: 100px;
}

input, select, button {
    margin: 8px;
    padding: 8px;
}
